@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Medium.ttf);
}

*{
    margin: 10;
    padding: 0;
    font-family: Nunito;
    font-size: 14px;
    line-height: 1.5;
}

header{
    display: flex;
    /*flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.logo, img{
    width: 150px;
    height: 150px;
}

nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav li{
    padding: 0 20px;
}

nav a{
    text-decoration: none;
}

.menu-link{
    color: #222222; 
    font-size: 28px; 
    line-height: 36px; 
    font-weight: bold;
}

nav a:hover{
    color: blue;
}

main{
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex-basis: 1;
    min-width: 200;
    border: 1px solid #ccc;
    margin: 20p;
    padding: 20px;
    text-align: center;
}

aside{
    flex: 2;
    min-width: 200;
    border: 1px solid #ccc;
    margin: 20p;
    padding: 20px;
    text-align: center;
}

div.products {
    display: flex;
    flex-direction: row; 
}
div.box{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    padding: 10px;
}
div.box img{
    max-width: 100%;
}

.title{
    color: #222222;
    font-size: 28px;
    line-height: 36px; font-weight: bold;
}

.text{
    font-style: normal; font-weight: 300;
    font-size: 18px;    line-height: 30px;
    color: #7D7987
}

.about{
    color: coral;
    font-style: normal; font-weight: 700; 
    font-size: 36px; 
    line-height: 80px;      
}

.contacts{
    color: coral;
    font-style: normal; font-weight: 700; 
    font-size: 36px; 
    line-height: 80px;      
}